body {
    background: linear-gradient(0.9turn, #000000, #000000);
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
body * {
    margin: 0;
    padding: 0;
    
}
a{ 
    color: currentColor;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    display: flex;
  } 
nav{
    color: #fff5ff;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
table, th, td {
    border: 1px solid;
    margin-left: 40px;
    margin-right: 5%;
}
#container {
    width: 100%;
    height: 1500px;
}
#profile  {
    width: 100%;
    height: 970px;
    line-height: 24px;
    display: inline-block;
}
#tituloSelecao{
    padding: 50px;
    color: #f8f7f8;
}
#listaSelecao{
    width: 100%;
    height: 500px;
    color: #f8f7f8;
   
}
#Selecao{
    width: 1150px;
    height: 700px;
    color: #f8f7f8;
    border: #f8f7f8 solid 1px;
    margin-left: 70px;
    box-shadow: 1px 1px 10px 1px yellow;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;/*deixa dentro do espaço*/
}
#tituloRepeticao{
    padding: 50px;
    color: #f8f7f8;
    margin-top: 350px;
}
#listaRepeticao{
    width: 100%;
    height: 500px;
    color: #f8f7f8;
   
}
#Repeticao{
    width: 1150px;
    height: 700px;
    color: #f8f7f8;
    border: #f8f7f8 solid 1px;
    margin-left: 70px;
    box-shadow: 1px 1px 10px 1px yellow;
    display: flex;
    flex-wrap: wrap;/*deixa dentro do espaço*/
    gap: 50px;
}
#tituloVetores{
    padding: 50px;
    color: #f8f7f8;
    margin-top: 350px;
}
#listaVetores{
    width: 100%;
    height: 500px;
    color: #f8f7f8;
    margin-top: 300px;
   
}
#Vetores{
    width: 1150px;
    height: 700px;
    color: #f8f7f8;
    border: #f8f7f8 solid 1px;
    margin-left: 70px;
    box-shadow: 1px 1px 10px 1px yellow;
    display: flex;
    flex-wrap: wrap;/*deixa dentro do espaço*/
    gap: 50px;
}
#tituloMatriz{
    padding: 50px;
    color: #f8f7f8;
}
#listaMatriz{
    width: 100%;
    height: 500px;
    color: #f8f7f8;
    margin-top: 400px;
   
}
#Matriz{
    width: 1150px;
    height: 700px;
    color: #f8f7f8;
    border: #f8f7f8 solid 1px;
    margin-left: 70px;
    box-shadow: 1px 1px 10px 1px yellow;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;/*deixa dentro do espaço*/  
}
#tituloFuncao{
    padding: 50px;
    color: #f8f7f8;
}
#listaFuncao{
    width: 100%;
    height: 500px;
    color: #f8f7f8;
    margin-top: 400px;
   
}
#Funcao{
    width: 1150px;
    height: 1000px;
    color: #f8f7f8;
    border: #f8f7f8 solid 1px;
    margin-left: 70px;
    box-shadow: 1px 1px 10px 1px yellow;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;/*deixa dentro do espaço*/  
}
.stylo{
    width: 150px;
    height: 80px;
    border: #ffffff solid 1px;
    background-color: rgb(255, 255, 255);
    color: #302e2e;
    border-radius: 40%;
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 23);
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-left: 30px;
    margin-top:10px;
    display:flex;
    justify-content: center;
}
.stylo p{
    width: 140px;
    transform: translateY(+10%);
}

.stylo:hover{
    color: #ffffff;
    background: rgb(255, 0, 179);
}
#titulo{
    text-align: center;
}
#titulo2{
    color: aliceblue;
}

#quad{
    padding: 20px;
    width: 500px;
    height: 950px;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    margin-left: 390px;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    border: solid rgb(255, 255, 255) 1px;
    box-shadow: 1px 1px 10px 1px #e0dfdf;
}

#entradatext{
    padding: 0px;
    text-align: left;
    margin-top: 10px;
    margin-left: 150px;
}

#entradaBut{
    align-items: center;
    margin-left: 80px;
}


#tabDiv{
    width: 100px;
    height: 300px;
    margin-left: 100px;
    
}
#calc01,#calc02,#calc03,#calc04,#calc05,#calc06,#calc07,#calc08,#calc09,#calc10,#calc11,#calc12,#calc13,#calc14,#calc15,#calc16,
#calc17,#calc18,#calc19,#calc20,#calc21,#calc22,#calc23,#calc24,#calc25{
    margin-top: 20px;
    font-weight: 600;
    border: red 1px solid;
    font-size: 20px;
}


ul {
   list-style: none;
   display: flex;
   flex-direction: column; /* flexibilidade da coluna*/
   gap: 25px; /* espaço entre cada um da lista*/
   padding: 24px 100px;

}
ul li a {
    display: flex;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 24px; /* 16px é top e bottom e 24px é right e left*/
    background: linear-gradient(0.9turn, #f8f7f8, #ffffff);/* 10% de transparencia */
    border: solid 2px black;/* 50% de transparencia */     /**/
    border-radius: 30px;
    
    
}

#dM, #dm,#sM,#sF,#T,#tab,#DataNasci,#ano,#nota1,#nota2,#nota3,#nota4,#nota1tab,#nota2tab,#n1M,#n2M,#n1,#n2,#n3,
#n1E,#n2E,#n3E,#n1E2,#n2E2,#n3E2,#sal,#sal2,#SM,#carro,#SalarioNovo,#SalarioGratidao,#NovoPreco,#NovoSalario,#Investimento,#Investimento2,
#preco,#codigo,#senha,#idade, #sexo,#h,#nadador,#cod,#preco2,#peso,#idadeRisco,#codigo,#qnt,#preco3, #categoria,#situacao,
#extra,#faltou,#ingresso, #tabuada{
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    background-color: rgb(255, 255, 255);/* 10% de transparencia */
    border: 1px solid black;/* 50% de transparencia */     /**/
    border-radius: 0px;
    text-decoration: none;
    transition: background 0.2s;
    width: 30px;
}
#calculaMedia,#calculaLosangoButtom, #calculaSalarioButtom, #calculaTabuadaButtom, #calculaIdadeButtom, #calculaNotaButtom, 
#calculaNotaTabButtom,#calculaMaiorMenorButtom,#calculaMaiorMenorButtom2,#calculaEscolha,#calculaEscolha2,#calculaButtom,#calculaParesEImpares,
#calcula{
    display: flex;
    margin-top: 50px;
    margin-left: 85px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    background-color: rgb(255, 255, 255);/* 10% de transparencia */
    border: 1px solid black;/* 50% de transparencia */     /**/
    border-radius: 30px;
    width: 100px;
    font-size: 18px;
 }

#center{
    margin-left: 50px;
}
#Voltar{
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    background-color: rgb(255, 255, 255);/* 10% de transparencia */
    border: 1px solid black;/* 50% de transparencia */     /**/
    border-radius: 30px;
    width: 10px;
    font-size: 15px;
}
button:hover {
    box-shadow: -5px -5px 15px #c9c8c8, 5px 5px 15px #ffffff, inset 5px 5px 10px #ffffff, inset -5px -5px 10px #c2bfbf;
    color: #000000;
    transition: 500ms;
    cursor: pointer;
}
.buttonFuncao{
    width: 110px;
    height: 80px;
    border: #ffffff solid 1px;
    background-color: rgb(255, 255, 255);
    color: #302e2e;
    border-radius: 40%;
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 23);
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-left: 30px;
    margin-top:100px;
   

}
.buttonFuncao:hover {
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #ffffff, inset 5px 5px 10px #ffffff, inset -5px -5px 10px #c2bfbf;
    color: #000000;
    transition: 500ms;
    cursor: pointer;
}
@media screen and (max-width:500px){
   body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
   }
   nav{
    color: #f8f7f8;
    padding-top: 20px;
    padding-left: 0px;
    width: 100%;
    }
    table, th, td {
        border: 1px solid;
        margin-left: 40px;
        margin-right: 5%;
    }
    #container{
        width: 100%;
        height: 3000px;
    }
    #profile{
        width: 100%;
        height: 970px;
        line-height: 24px;
        display: inline-block;     
    }
    #tituloSelecao{
        color: #f8f7f8;
        display: flex;
        gap: 100px;
    }
    #listaSelecao{
        width: 100%;
        height: 500px;
        color: #f8f7f8;
       
    }
    #Selecao{
        width: 400px;
        height: 1850px;
        color: #f8f7f8;
        border: #f8f7f8 solid 1px;
        margin-left: 10px;
        box-shadow: 1px 1px 10px 1px yellow;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;/*deixa dentro do espaço*/
    }
    #tituloRepeticao{
        margin-top: 1550px;
        gap: 50px;
        display: flex;
        color: #f8f7f8;
    }
    #listaRepeticao{
        width: 100%;
        height: 500px;
        color: #f8f7f8;
    }
    #Repeticao{
        width: 400px;
        height: 1850px;
        color: #f8f7f8;
        border: #f8f7f8 solid 1px;
        margin-left: 10px;
        box-shadow: 1px 1px 10px 1px yellow;
        display: flex;
        flex-wrap: wrap;/*deixa dentro do espaço*/
        gap: 50px;
        
    }
    #tituloVetores{
        padding: 50px;
        color: #f8f7f8;
        margin-top: 1600px;
        gap: 50px;
        display: flex;
        
    }
    #listaVetores{
        width: 100%;
        height: 500px;
        color: #f8f7f8;
    }
    #Vetores{
        width: 400px;
        height: 1850px;
        color: #f8f7f8;
        border: #f8f7f8 solid 1px;
        margin-left: 10px;
        box-shadow: 1px 1px 10px 1px yellow;
        display: flex;
        flex-wrap: wrap;/*deixa dentro do espaço*/
        gap: 50px;
        
    }
    #tituloMatriz{
        padding: 50px;
        color: #f8f7f8;
        margin-top: 1500px;
        display: flex;
        gap: 100px;
    }
    #listaMatriz{
        width: 100%;
        height: 500px;
        color: #f8f7f8;
        margin-top: 200px;
       
    }
    #Matriz{
        width: 400px;
        height: 1850px;
        color: #f8f7f8;
        border: #f8f7f8 solid 1px;
        margin-left: 10px;
        box-shadow: 1px 1px 10px 1px yellow;
        display: flex;
        flex-wrap: wrap;/*deixa dentro do espaço*/
        gap: 50px;
        
    }
    #tituloFuncao{
        padding: 50px;
        color: #f8f7f8;
        margin-top: 1600px
        
    }
    #listaFuncao{
        width: 100%;
        height: 500px;
        color: #f8f7f8;
        margin-top: 200px;
       
    }
    #Funcao{
        width: 400px;
        height: 1850px;
        color: #f8f7f8;
        border: #f8f7f8 solid 1px;
        margin-left: 10px;
        box-shadow: 1px 1px 10px 1px yellow;
        display: flex;
        flex-wrap: wrap;/*deixa dentro do espaço*/
        gap: 50px;
        
    }
    
    .stylo{
        width: 100px;
        height: 80px;
        border: #ffffff solid 1px;
        background-color: rgb(255, 255, 255);
        color: #000000;
        border-radius: 40%;
        box-shadow: 1px 1px 10px 1px rgb(231, 231, 23);
        font-weight: 600;
        font-size: 10px;
        text-align: center;
        margin-left: 45px;
        margin-top:10px;
        display:flex;
        justify-content: center;
       
        
    }
    .stylo p{
        width: 80px;
        transform: translateY(+10%);
        font-weight: 1000;
    }
    
    .stylo:hover{
        color: #ffffff;
        background: rgb(255, 0, 179);
    }
    #titulo{
        text-align: center;
        font-size: 19px;
    }
    #titulo2{
        color: aliceblue;
         font-size: 15px;
    }
    
    #quad{
        padding: 20px;
        width: 380px;
        height: 850px;
        border-radius: 10%;
        margin-left: 1px;
        border: solid black 5px;
        margin-top: 10px;
        border: solid rgb(255, 255, 255) 1px;
        box-shadow: 1px 1px 10px 1px #e0dfdf;
    }
    
    #entradatext{
        padding: 0px;
        text-align: left;
        margin-top: 10px;
        margin-left: 100px;
        font-size: 15px;
    }
    
    #entradaBut{
        align-items: center;
        margin-left: 65px;
    }
    
    
    #tabDiv{
        width: 100px;
        height: 300px;
        margin-left: 100px;
        
    }
    #calc01,#calc02,#calc03,#calc04,#calc05,#calc06,#calc07,#calc08,#calc09,#calc10,#calc11,#calc12,#calc13,#calc14,#calc15,#calc16,
    #calc17,#calc18,#calc19,#calc20,#calc21,#calc22,#calc23,#calc24,#calc25{
        margin-top: 20px;
        font-weight: 600;
        border: red 1px solid;
        font-size: 20px;
    }
    
    
    ul {
       list-style: none;
       display: flex;
       flex-direction: column; /* flexibilidade da coluna*/
       gap: 25px; /* espaço entre cada um da lista*/
       padding: 24px 100px;
    
    }
    ul li a {
        display: flex;
        align-items: center; /*alinhamento na vertical */
        justify-content: center; /*alinhamento na horiz */
        padding: 16px 24px; /* 16px é top e bottom e 24px é right e left*/
        background: linear-gradient(0.9turn, #f8f7f8, #ffffff);/* 10% de transparencia */
        border: solid 2px black;/* 50% de transparencia */     /**/
        border-radius: 30px;
        
        
    }
    
    #dM, #dm,#sM,#sF,#T,#tab,#DataNasci,#ano,#nota1,#nota2,#nota3,#nota4,#nota1tab,#nota2tab,#n1M,#n2M,#n1,#n2,#n3,
    #n1E,#n2E,#n3E,#n1E2,#n2E2,#n3E2,#sal,#sal2,#SM,#carro,#SalarioNovo,#SalarioGratidao,#NovoPreco,#NovoSalario,#Investimento,#Investimento2,
    #preco,#codigo,#senha,#idade, #sexo,#h,#nadador,#cod,#preco2,#peso,#idadeRisco,#codigo,#qnt,#preco3, #categoria,#situacao,
    #extra,#faltou,#ingresso, #tabuada{
        display: flex;
        margin-bottom: 50px;
        margin-left: 0px;
        text-align: center;
        align-items: center; /*alinhamento na vertical */
        justify-content: center; /*alinhamento na horiz */
        padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
        background-color: rgb(255, 255, 255);/* 10% de transparencia */
        border: 1px solid black;/* 50% de transparencia */     /**/
        border-radius: 0px;
        text-decoration: none;
        transition: background 0.2s;
        width: 15px;
        height: 5px;
    }
    #calculaMedia,#calculaLosangoButtom, #calculaSalarioButtom, #calculaTabuadaButtom, #calculaIdadeButtom, #calculaNotaButtom, 
    #calculaNotaTabButtom,#calculaMaiorMenorButtom,#calculaMaiorMenorButtom2,#calculaEscolha,#calculaEscolha2,#calculaButtom,#calculaParesEImpares,
    #calcula{
        display: flex;
        margin-top: 50px;
        margin-left: 40px;
        align-items: center; /*alinhamento na vertical */
        justify-content: center; /*alinhamento na horiz */
        padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
        background-color: rgb(255, 255, 255);/* 10% de transparencia */
        border: 1px solid black;/* 50% de transparencia */     /**/
        border-radius: 30px;
        width: 100px;
        font-size: 14px;
     }
    
    #center{
        margin-left: 50px;
    }

    #Voltar{
        display: flex;
        margin-top: 50px;
        margin-left: 10px;
        align-items: center; /*alinhamento na vertical */
        justify-content: center; /*alinhamento na horiz */
        padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
        background-color: rgb(255, 255, 255);/* 10% de transparencia */
        border: 1px solid black;/* 50% de transparencia */     /**/
        border-radius: 30px;
        width: 10px;
        font-size: 15px;
    }
    .img{
        display: none;
    }

}
